@font-face {
  font-family: 'Sweeep';
  src: local('Sweeep'), url('/assets/fonts/Sweeep.woff2');
}

@font-face {
  font-family: 'Mikkelwind';
  src: local('Mikkelwind'), url('/assets/fonts/Mikkelwind.woff2');
}
