* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
}

h1 {
  font-family: 'Mikkelwind';
  font-size: 5rem;
  color: #111111;
  animation: color-change 2s infinite;
}

h2 {
  font-family: 'Sweeep';
  font-size: 4rem;
  letter-spacing: 0.85rem;
  font-weight: lighter;
  color: #111111;
}

@keyframes color-change {
  0% {
    color: #005b5d;
  }
  50% {
    color: #abecb1;
  }
  100% {
    color: #005b5d;
  }
}
